.searchWrap {
  display: flex;
  height: 50px;
  background: var(--bg-fourth);
  width: 500px;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
}

.searchWrap input {
  background: none;
  border: none;
  height: 75%;
  font-size: 20px;
  width: 100%;
}

.searchWrap input:focus {
  background: none;
  border: none;
  outline: none;
}
