.stepFourWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 80px;
  position: relative;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
}

.comment textarea {
  outline: none;
  border: 3px solid var(--bg-primary);
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 10px;
  resize: none;
}

.comment textarea:focus {
  border: 3px solid var(--color-primary);
}

.changeState {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 35px;
  position: relative;
  position: absolute;
  bottom: 20px;
}

.changeState button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: none;
  background: var(--color-primary);
  color: var(--text-secondary);
}

.changeState span {
  font-size: 30px;
  font-weight: 800;
}

.changeState .arrows {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background: var(--bg-third);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.changeState .arrows:hover {
  background: rgb(225, 225, 225);
}

.errorMessage {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  transform: translateY(105%);
  color: red;
}
