.ringWrapper {
  position: relative;
}

.ring {
  border-radius: 100%;
}

.rating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
