.profileWrap {
  background: var(--bg-primary);
  height: 100vh;
  width: 320px;
  padding: 0 40px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: none;
  transition: transform 0.5s ease-in-out;
  transition: box-shadow 0.5 ease-in-out;
  transform: translateX(-100%);
}

.visible {
  transform: translateX(0);
  box-shadow: 2px 2px 4px 2px rgb(0, 52, 89);
}

.backIconWrap {
  margin-top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: white;
  position: relative;
  cursor: pointer;
}

.backIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name {
  color: var(--text-secondary);
  font-size: 35px;
}
